<!DOCTYPE html>

<html lang="en">

  <head>

    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Demo</title>
    {% load static %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/agency.min.css' %}" />

    <style type="text/css">
      .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
      }

      .btn-circle.btn-lg {
          width: 50px;
          height: 50px;
          padding: 10px 16px;
          font-size: 18px;
          line-height: 1.33;
          border-radius: 25px;
        }
      .btn-circle.btn-xl {
          width: 70px;
          height: 70px;
          padding: 10px 16px;
          font-size: 24px;
          line-height: 1.33;
          border-radius: 35px;
        }
    </style>

  </head>

  <body id="page-top">

    <!--img src="../images/iasis_logo.png" style="
        position: absolute;
        z-index: 999;
        top:3%;
        left: 3%;"-->

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text" style="padding-top: 160px">
          <div class="intro-heading">IASIS-KG Demo</div>
          <div>
          <!--a class="btn btn-xl js-scroll-trigger" style="width:805px" href="http://vocol.iais.fraunhofer.de/iasis/docs/visualization.html">iASiS Unified Schema</a> &#160;&#160;
          <button class="btn btn-info btn-circle btn-lg" data-toggle="modal" data-target="#myModal"><i class="fa fa-info"></i></button> &#160;&#160;
          <button class="btn btn-info btn-circle btn-lg" data-toggle="modal" data-target="#myModal2"><i class="fa fa-line-chart"></i></button>
          <br>
          <br-->
          <a class="btn btn-xl js-scroll-trigger" style="width:805px" id="RDFMT">RDF Molecule Templates</a> &#160;&#160;
          <br>
          <div id="dropdownButtonsRDFMT" style="display:none">
            <br>
            <button class="btn btn-info" id="mt" onclick="window.location = '../rdfmts';"> Visualize </button>&#160;
          </div>
          <br>
          <a class="btn btn-xl js-scroll-trigger" style="width:805px"  id="button2">Understanding a Drug Toxicity</a> &#160;&#160;
          <br>

            <div id="dropdownButtons" style="display:none;">
            <br>
            <div class="row col-md-12">
            <div class="dropdown col-md-12">
              <button id="query" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background-color: #59abb2;">Queries
              </button>
              <ul class="dropdown-menu">
                <li onclick="setDataset('q1')"><a>Query 1: Drugs that interacts with Docetaxel</a></li>
                <li onclick="setDataset('q2')"><a>Query 2: Side Effects that interacts with Docetaxel</a></li>
                <li onclick="setDataset('q3')"><a>Query 3: Proteins of the families CYP, ABC, and CASP that interact with the drug</a></li>
              </ul>
                <div id="querydetail">
                    <div id="q1" style="display: none;">
                       <div style="white-space: pre;text-align: left">
                    SELECT DISTINCT ?o8 ?o9 WHERE {
                          ?s  &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#type&gt;  &lt;http://project-iasis.eu/vocab/Drug&gt; .
                          ?s &lt;http://project-iasis.eu/vocab/label&gt; 'docetaxel' .
                          ?s &lt;http://project-iasis.eu/vocab/id&gt; ?o1.
                          ?s &lt;http://project-iasis.eu/vocab/mentioned_in&gt; ?o2 .
                          ?s &lt;http://project-iasis.eu/vocab/drug_interactsWith_enzyme&gt; ?o3 .
                          ?o3 &lt;http://project-iasis.eu/vocab/label&gt; ?o6.
                          ?s &lt;http://project-iasis.eu/vocab/hasSideEffect&gt; ?o4.
                          ?o4 &lt;http://project-iasis.eu/vocab/label&gt; ?o7.
                          ?s &lt;http://project-iasis.eu/vocab/drug_interactsWith_protein&gt; ?o5 .
                          ?s &lt;http://project-iasis.eu/vocab/drug_interactsWith_drug&gt; ?o8.
                          ?o8 &lt;http://project-iasis.eu/vocab/label&gt; ?o9.
                        }
                        </div>
                    </div>
                    <div id="q2" style="display: none;">
                       <div style="white-space: pre;text-align: left">
                    SELECT DISTINCT ?o4 ?o7 WHERE {
                          ?s  &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#type&gt;  &lt;http://project-iasis.eu/vocab/Drug&gt; .
                          ?s &lt;http://project-iasis.eu/vocab/label&gt; 'docetaxel' .
                          ?s &lt;http://project-iasis.eu/vocab/id&gt; ?o1.
                          ?s &lt;http://project-iasis.eu/vocab/mentioned_in&gt; ?o2 .
                          ?s &lt;http://project-iasis.eu/vocab/drug_interactsWith_enzyme&gt; ?o3 .
                          ?o3 &lt;http://project-iasis.eu/vocab/label&gt; ?o6.
                          ?s &lt;http://project-iasis.eu/vocab/hasSideEffect&gt; ?o4.
                          ?o4 &lt;http://project-iasis.eu/vocab/label&gt; ?o7.
                          ?s &lt;http://project-iasis.eu/vocab/drug_interactsWith_protein&gt; ?o5 .
                          ?s &lt;http://project-iasis.eu/vocab/drug_interactsWith_drug&gt; ?o8.
                          ?o8 &lt;http://project-iasis.eu/vocab/label&gt; ?o9.
                        }
                        </div>
                    </div>
                    <div id="q3" style="display: none;">

                           <div style="white-space: pre;text-align: left">
                            SELECT DISTINCT ?o5 WHERE {
                                  ?s  &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#type&gt;  &lt;http://project-iasis.eu/vocab/Drug&gt; .
                                  ?s &lt;http://project-iasis.eu/vocab/label&gt; 'docetaxel' .
                                  ?s &lt;http://project-iasis.eu/vocab/id&gt; ?o1.
                                  ?s &lt;http://project-iasis.eu/vocab/mentioned_in&gt; ?o2 .
                                  ?s &lt;http://project-iasis.eu/vocab/drug_interactsWith_enzyme&gt; ?o3 .
                                  ?o3 &lt;http://project-iasis.eu/vocab/label&gt; ?o6.
                                  ?s &lt;http://project-iasis.eu/vocab/hasSideEffect&gt; ?o4.
                                  ?o4 &lt;http://project-iasis.eu/vocab/label&gt; ?o7.
                                  ?s &lt;http://project-iasis.eu/vocab/drug_interactsWith_protein&gt; ?o5 .
                                  ?s &lt;http://project-iasis.eu/vocab/drug_interactsWith_drug&gt; ?o8.
                                  ?o8 &lt;http://project-iasis.eu/vocab/label&gt; ?o9.
                                }
                               </div>

                    </div>

                </div>
            </div>
            </div>
            <br>
            <div>
              <button class="btn btn-primary" onclick="search()">SEARCH</button>
            </div>
          </div>
          <br>
          <a class="btn btn-xl js-scroll-trigger" style="width:805px;"  id="ihla">Exploring Mutations that affect a Drug Effectiveness</a> &#160;&#160;
          <br>

          <div id="dropdownButtons3" style="display:none;">
            <br>
            <div class="row col-md-12">
            <div class="dropdown col-md-12">
              <button id="mutquery" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background-color: #59abb2;">Queries
              </button>
              <ul class="dropdown-menu">
                <li onclick="setDataset('mq1')"><a>Query 1: Potential Mutations that may impact the effectiveness of docetaxel</a></li>
                <li onclick="setDataset('mq2')"><a>Query 2: Potential Mutations that may impact the effectiveness of docetaxel and side effects and drug advarse events </a></li>
                <li onclick="setDataset('mq3')"><a>Query 3: Side Effects of docetaxel and mutations that can impact effectivenses </a></li>
                <li onclick="setDataset('mq4')"><a>Query 4: Mutations associated with proteins that interact with docetaxel and with the drugs that interacts with docetaxel</a></li>
              </ul>
                <div id="mutquerydetail">
                    <div id="mq1" style="display: none;">
                       <div style="white-space: pre;text-align: left">
                    SELECT DISTINCT ?o9 ?o10 ?o11 ?o12 ?o13 ?o14 ?o15 where {
                           ?s  &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#type&gt;  &lt;http://project-iasis.eu/vocab/Mutation&gt; .
                           ?s  &lt;http://project-iasis.eu/vocab/mutation_chromosome&gt; ?o9 .
                           ?s  &lt;http://project-iasis.eu/vocab/mutation_start&gt; ?o10.
                           ?s  &lt;http://project-iasis.eu/vocab/mutation_NucleotideSeq&gt; ?o11.
                           ?s  &lt;http://project-iasis.eu/vocab/mutation_isClassifiedAs_mutationType&gt; ?o12.
                           ?s  &lt;http://project-iasis.eu/vocab/mutation_somatic_status&gt; ?o13.
                           ?s  &lt;http://project-iasis.eu/vocab/mutation_cds&gt; ?o14.
                           ?s  &lt;http://project-iasis.eu/vocab/mutation_aa&gt; ?o15.
                           ?s  &lt;http://project-iasis.eu/vocab/mutation_isLocatedIn_transcript&gt; ?o7 .
                           ?o7 &lt;http://project-iasis.eu/vocab/translates_as&gt; ?o1 .
                           ?o1 &lt;http://project-iasis.eu/vocab/id&gt; ?o2 .
                           ?o4 &lt;http://project-iasis.eu/vocab/drug_interactsWith_protein&gt; ?o1 .
                           ?o4 &lt;http://project-iasis.eu/vocab/id&gt; ?o5 .
                           ?o4 &lt;http://project-iasis.eu/vocab/label&gt; 'docetaxel'
                           }
                        </div>
                    </div>
                    <div id="mq2" style="display: none;">
                       <div style="white-space: pre;text-align: left">
                    SELECT DISTINCT ?s ?o20  ?o21 WHERE {
                           ?s  &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#type&gt;  &lt;http://project-iasis.eu/vocab/Mutation&gt; .
                           ?s  &lt;http://project-iasis.eu/vocab/mutation_chromosome&gt; ?o9 .
                           ?s  &lt;http://project-iasis.eu/vocab/mutation_start&gt; ?o10.
                           ?s  &lt;http://project-iasis.eu/vocab/mutation_NucleotideSeq&gt; ?o11.
                           ?s  &lt;http://project-iasis.eu/vocab/mutation_isClassifiedAs_mutationType&gt; ?o12.
                           ?s  &lt;http://project-iasis.eu/vocab/mutation_somatic_status&gt; ?o13.
                           ?s  &lt;http://project-iasis.eu/vocab/mutation_cds&gt; ?o14.
                           ?s  &lt;http://project-iasis.eu/vocab/mutation_aa&gt; ?o15.
                           ?s  &lt;http://project-iasis.eu/vocab/mutation_isLocatedIn_transcript&gt; ?o7 .
                           ?o7 &lt;http://project-iasis.eu/vocab/translates_as&gt; ?o1 .
                           ?o1 &lt;http://project-iasis.eu/vocab/id&gt; ?o2 .
                           ?o4 &lt;http://project-iasis.eu/vocab/drug_interactsWith_protein&gt; ?o1 .
                           ?o4 &lt;http://project-iasis.eu/vocab/id&gt; ?o5 .
                           ?o4 &lt;http://project-iasis.eu/vocab/label&gt; 'docetaxel' .
                           ?o4 &lt;http://project-iasis.eu/vocab/hasSideEffect&gt; ?o20 .
                           ?o4 &lt;http://project-iasis.eu/vocab/drug_interactsWith_drug&gt; ?o21
                           }
                        </div>
                    </div>
                    <div id="mq3" style="display: none;">

                     <div style="white-space: pre;text-align: left">
                     SELECT DISTINCT ?s ?o20  ?o21 WHERE {
                           ?s  &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#type&gt;  &lt;http://project-iasis.eu/vocab/Mutation&gt; .
                           ?s  &lt;http://project-iasis.eu/vocab/mutation_chromosome&gt; ?o9 .
                           ?s  &lt;http://project-iasis.eu/vocab/mutation_start&gt; ?o10.
                           ?s  &lt;http://project-iasis.eu/vocab/mutation_NucleotideSeq&gt; ?o11.
                           ?s  &lt;http://project-iasis.eu/vocab/mutation_isClassifiedAs_mutationType&gt; ?o12.
                           ?s  &lt;http://project-iasis.eu/vocab/mutation_somatic_status&gt; ?o13.
                           ?s  &lt;http://project-iasis.eu/vocab/mutation_cds&gt; ?o14.
                           ?s  &lt;http://project-iasis.eu/vocab/mutation_aa&gt; ?o15.
                           ?s  &lt;http://project-iasis.eu/vocab/mutation_isLocatedIn_transcript&gt; ?o7 .
                           ?o7 &lt;http://project-iasis.eu/vocab/translates_as&gt; ?o1 .
                           ?o1 &lt;http://project-iasis.eu/vocab/id&gt; ?o2 .
                           ?o4 &lt;http://project-iasis.eu/vocab/drug_interactsWith_protein&gt; ?o1 .
                           ?o4 &lt;http://project-iasis.eu/vocab/id&gt; ?o5 .
                           ?o4 &lt;http://project-iasis.eu/vocab/label&gt; 'docetaxel' .
                           ?o4 &lt;http://project-iasis.eu/vocab/hasSideEffect&gt; ?o20 .
                           ?o4 &lt;http://project-iasis.eu/vocab/drug_interactsWith_drug&gt; ?o21
                       }
                               </div>

                    </div>
                    <div id="mq4" style="display: none;">

                     <div style="white-space: pre;text-align: left">
                     SSELECT DISTINCT ?s  where {
                           ?s  &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#type&gt; &lt;http://project-iasis.eu/vocab/Mutation&gt; .
                           ?s  &lt;http://project-iasis.eu/vocab/mutation_isLocatedIn_transcript&gt; ?o7 .
                           ?o7 &lt;http://project-iasis.eu/vocab/translates_as&gt; ?o1 .
                           ?o1 &lt;http://project-iasis.eu/vocab/label&gt; ?o8 .
                           ?o4 &lt;http://project-iasis.eu/vocab/drug_interactsWith_protein&gt; ?o1 .
                           ?o4 &lt;http://project-iasis.eu/vocab/id&gt; ?o5 .
                           ?o4 &lt;http://project-iasis.eu/vocab/label&gt; 'docetaxel' .
                           ?o4 &lt;http://project-iasis.eu/vocab/hasSideEffect&gt; ?o20 .
                           ?o4 &lt;http://project-iasis.eu/vocab/drug_interactsWith_drug&gt; ?o6 .
                           ?o6 &lt;http://project-iasis.eu/vocab/drug_interactsWith_protein&gt; ?o1

                           }
                               </div>

                    </div>
                </div>
            </div>
            </div>
            <br>
            <div>
              <button class="btn btn-primary" onclick="searchButton3()">SEARCH</button>
            </div>
          </div>
          <br>
          <a class="btn btn-xl js-scroll-trigger" style="width:805px; margin-left: -0.2%" id="Yama">Understanding Relatedness Between Biomedical Entities</a> &#160;&#160;
          <br>
          <div id="drugtypes" style="display:none">
              <br>
            <button class="btn btn-info" id="cd"> Four Lung Cancer Drugs </button>&#160;
            <button class="btn btn-info" id="yd" > Yamanishi Enzyme Dataset Drugs</button>&#160;
          </div>
          <div id="dropdownButtonsYama" style="display:none">
            <br>
            <button class="btn btn-info" id="c1" onclick="window.location = 'semEP_59';"> cluster 1 </button>&#160;
            <button class="btn btn-info" id="c2" onclick="window.location = 'semEP_74';"> cluster 2 </button>&#160;
            <button class="btn btn-info" id="c3" onclick="window.location = 'semEP_168';"> cluster 3 </button>&#160;
            <button class="btn btn-info" id="c4" onclick="window.location = 'semEP_190';"> cluster 4 </button>&#160;
          </div>
          <div id="dropdownButtonsYamanishi" style="display:none">
            <br>
            <button class="btn btn-info" id="yc1" onclick="window.location = 'semEP_59';"> cluster 1 </button>&#160;
            <button class="btn btn-info" id="yc2" onclick="window.location = 'semEP_74';"> cluster 2 </button>&#160;
            <button class="btn btn-info" id="yc3" onclick="window.location = 'semEP_168';"> cluster 3 </button>&#160;
            <button class="btn btn-info" id="yc4" onclick="window.location = 'semEP_190';"> cluster 4 </button>&#160;
          </div>
          </div>
         </div>
        </div>
      </div>
    </header>

    <!-- Footer -->
    <footer style="background-color: #0095b0; color: white; position:relative; z-index:-1;">
      <div class="container">

        <div class="footer-line">
			<div class="container">
				<div class="region region-footer-copyright">
					<div id="block-block-1" class="block block-block">
						<div class="content">
							<br>
							<p>
							  Kemele M. Endris, Samaneh Jozashoori, Guillermo Palma, Maria-Esther Vidal.
							<br>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

      </div>
    </footer>


    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Information</h4>
          </div>
          <div class="modal-body">
            <p>The iASiS Unified Schema represents the classes, properties and relationships of the iASiS Knowledge Graph.
            <br>
            <br>
            The iASiS Unified Schema objectives are to model characteristics of heterogenious data integrated in the iASiS Knowledge Graph, and to describe the ontology annotations performed by analysis tools over images, open data, clinical records and genomic data.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div id="myModal2" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Statistics</h4>
          </div>
          <div class="modal-body">
            <p>

              Classes: 24
              <br>
            Object prop.: 18
            <br>
      			Datatype prop.: 7
      			<br>
      			Individuals: 0
      			<br>
      			Nodes: 31
      			<br>
      			Edges: 35

            </p>
          </div>
        </div>
      </div>
    </div>

    <div id="myModal3" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Information</h4>
          </div>
          <div class="modal-body">
            <p>semEP is an unsupervised semantics based edge partitioning method; semEP combines a data mining framework for link discovery, semantic knowledge (similarities) from ontologies or semantic spaces, and an algorithmic approach to partition the edges of the iASiS knowledge graph.
            <br>
            <br>
            <strong>Reference</strong>
            <br>

            <i>
            Guillermo Palma, Maria-Esther Vidal, Louiqa Raschid: Drug-Target Interaction Prediction Using Semantic Similarity and Edge Partitioning. Semantic Web Conference (1) 2014: 131-146</i></p>
          </div>
        </div>
      </div>
    </div>

    <div id="myModal4" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Statistics</h4>
          </div>
          <div class="modal-body">
            <table class="table-striped" style="width: 100%">
              <thead>
                <tr>
                  <th> Statistics </th>
                  <th> Nuclear receptor</th>
                  <th> GPCR </th>
                  <th> Ion channel </th>
                  <th> Enzyme </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Number of Drugs</td>
                  <td>54</td>
                  <td>223</td>
                  <td>210</td>
                  <td>445</td>
                </tr>

                <tr>
                  <td>Number of Targets</td>
                  <td>26</td>
                  <td>95</td>
                  <td>204</td>
                  <td>664</td>
                </tr>

                <tr>
                  <td>Number of Drugs Target Interactions</td>
                  <td>90</td>
                  <td>635</td>
                  <td>1476</td>
                  <td>2926</td>
                </tr>

                <tr>
                  <td>Average interaction count per target</td>
                  <td>3.46</td>
                  <td>6.68</td>
                  <td>7.23</td>
                  <td>4.4</td>
                </tr>

                <tr>
                  <td>Average Interaction count per drug</td>
                  <td>1.66</td>
                  <td>2.84</td>
                  <td>7.02</td>
                  <td>6.57</td>
                </tr>

                <tr>
                  <td>Graph Density</td>
                  <td>0.028</td>
                  <td>0.013</td>
                  <td>0.017</td>
                  <td>0.005</td>
                </tr>


              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div id="myModal5" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">ERROR</h4>
          </div>
          <div class="modal-body">
            <p>You have not chosen a Dataset or a Machine Learning Tool. Please choose both.</p>
          </div>
        </div>
      </div>
    </div>

    <div id="myModal6" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">ERROR</h4>
          </div>
          <div class="modal-body">
            <p>You have not chosen a Dataset or a Unsupervised Method Tool. Please choose both.</p>
          </div>
        </div>
      </div>
    </div>

    {% load static %}
    <script type="application/ecmascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="application/ecmascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="application/ecmascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="application/ecmascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <script type="application/ecmascript" src="{% static 'js/jquery.easing.min.js' %}"></script>

    <script type="application/ecmascript" src="{% static 'js/jqBootstrapValidation.js' %}"></script>
    <script type="application/ecmascript" src="{% static 'js/agency.min.js' %}"></script>


    <script type="text/javascript">
      $("#ihla").click(function(){
          $("#dropdownButtons3").toggle('slow');

          $("#dropdownButtons").css('display','none');
          $("#drugtypes").css('display','none');
          $("#dropdownButtonsRDFMT").css('display','none');
      });
      $("#button2").click(function(){
          $("#dropdownButtons").toggle('slow');

          $("#dropdownButtons3").css('display','none');
          $("#drugtypes").css('display','none');
          $("#dropdownButtonsRDFMT").css('display','none');
      });
      $("#Yama").click(function(){
          $("#drugtypes").toggle('slow');

          $("#dropdownButtons3").css('display','none');
          $("#dropdownButtons").css('display','none');
          $("#dropdownButtonsRDFMT").css('display','none');
      });
      $("#cd").click(function(){
         $("#dropdownButtonsYama").toggle('slow');
         $('#dropdownButtonsYamanishi').css('display','none');
      });
      $("#yd").click(function(){
         $("#dropdownButtonsYamanishi").toggle('slow');
         $('#dropdownButtonsYama').css('display','none');
      });

      $("#RDFMT").click(function(){
          $("#dropdownButtonsRDFMT").toggle('slow');

          $("#dropdownButtons3").css('display','none');
          $("#dropdownButtons").css('display','none');
          $("#drugtypes").css('display','none');
      });

    </script>
    <script  src="{% static 'js/additionalFunctions.js' %}"></script>
  </body>

</html>